@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #111111;
  --primary-color: #2688F9;
  --secondary-color: #0C1823;
  --border-color: #D7D7D7;
}

@layer base{
   body {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
  }
}


